.shopping_car{
  background-color: #f2f2f2;
  font-size: 12px;
  padding-bottom: 100px;
  // padding-bottom: 166px;
  position: relative;
  /deep/.van-nav-bar__right{
    .van-nav-bar__text{
      color: #444444;
    }
  }
  .disflay{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .pro{
    padding: 13px 10px 0;
    /deep/.van-radio__icon{
      font-size: 18px;
    }
    /deep/.van-radio__label{
      font-size: 14px;
      font-weight: bold;
    }
    .item{
      background-color: #fff;
      border-radius: 10px;
      .title{
        @extend .disflay;
        padding: 15px 12px;
        border-bottom: 1px solid #f2f2f2;
        // .left{

        // }
        .num{
          color: #888888;
        }
      }
      /deep/.van-button{
        height: 100% ;
        float: left;
      }
      .red{
        background-color: #fa4545;
        border-color:#fa4545 ;
      }
      .get{
        background-color: #3c3c3c;
        border-color: #3c3c3c;
      }
      .simp{
        background-color: #666;
        border-color: #666;
      }
      .every{
        @extend .disflay;
        justify-content: flex-start;
        border-bottom: 1px solid #f2f2f2;
        padding:13px 12px 17px;
        /deep/.van-stepper__minus, .van-stepper__plus{
          width: 24px;
          height: 20px;
        }
        /deep/.van-stepper__input{
          width: 30px;
          height: 20px;
        }
        .goBuy{
          display: flex;
          align-items: center;
          flex:1;
          // padding:0 10px 21px;
          margin-left: 13px;
          img{
            width: 50px;
            height: 50px;
          }
          .desc{
            margin-left: 19px;
            flex:1;
            .title2{
              color: #444444;
            }
            .add{
              @extend .disflay;
              flex: 1;
              padding-top: 9px;
              .price{
                font-size: 14px;
                color: #ff5959;
                // margin-top: 7px;
              }
            }
            
          }
        }
      }
    }
  }

  .outTime{
    font-size: 12px;
    margin: 13px 10px 0;
    background-color: #fff;
    padding: 18px 16px;
    border-radius: 10px;
    .topBtn{
      width: 100%;
      overflow: hidden;
      p{
        color: #444;
        float: right;
        padding: 0 5px;
        &:last-child{
          border-right: 1px solid #bbb;
        }
      }
    }
    .item{
      @extend .disflay;
      margin-top: 26px;
      .tag{
        background-color: #cccccc;
        color: #fff;
        font-size: 10px;
        width: 29px;
        padding:2px 4px;
        text-align: center;
        border-radius: 20px;
      }
      img{
        width: 50px;
        height: 44px;
      }
      .item_none{
        color: #888888;
        .dd{
          max-width: 210px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .none{
          @extend .disflay;
          align-items: flex-end;
          margin-top: 11px;
          .price{
            p{
              &:nth-of-type(2){
                color: #444444;
                margin-top: 12px;
              }
            }
          }
          .noneBtn{
            border: solid 1px #a0a0a0;
            color: #444444;
            font-size: 10px;
            padding: 4px 10px;
          }
        }
      }
    }

  }

  .other{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 10px;
    .item{
      border-radius:6px ;
      background-color: #fff;
      // width: 173px;
      width: 48%;
      padding-bottom: 15px;
      margin-bottom:10px;
      &:nth-child(2n-1){
        margin-right: 10px;
      }
      .img{
        img{
          width: 100%;
          // height: 173px;
        }
        span{
          font-size: 12px;
          color: #fff;
          font-size: 9px;
          background-color: #ff5959;
          padding: 2px 5px;
          margin-left: 10px;
          margin-top: 6px;
          display: block;
          width: fit-content;
        }
        .green{
          background-color: #01a862;
        }
      }
      .desc{
        font-size: 12px;
        color: #444;
        display:-webkit-box;
        overflow-y: hidden;
        -webkit-box-orient:vertical;
        -webkit-line-clamp:2;
        text-overflow: ellipsis;
        // margin: 10px 0 0 10px;
        padding: 0 10px;
        margin-top: 10px;
      }
      section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 6px;
        padding: 0 10px;
        .price{
          display: flex;
          align-items: center;
          .new{
            color: #ff5959;
            font-size: 16px;
            span{
              font-size: 12px;
            }
          }
          .old{
            font-size: 12px;
            color: #aaaaaa;
            span{
              font-size: 12px;
              margin-left: 8px;
            }
          }
        }
        .grade{
          font-size: 12px;
          color: #aaa;
        }
      }
    }
  }
  .nonew{
    font-size: 12px;
    line-height: 16px;
    color: #888888;
    padding: 27px 0 0;
    text-align: center;
  }

  .footer{
    @extend .disflay;
    margin-top: 10px;
    background-color: #fff;
    padding: 10px;
    // position: fixed;
    // bottom: 100px;
    // width: calc(100% - 20px);
    section{
      @extend .disflay;
      align-items: flex-end;
      .total{
        span{
          color: #fb4c4c;
        }
        .price{
          color: #444444;
        }
        .sale{
          color: #888888;
          font-size: 9px;
          margin-top: 4px;
        }
      }
      .buy{
        width: 95px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        background-color: #01a862;
        color: #fff;
        margin-left: 12px;
        border-radius: 5px;
      }
    }
    
  }

}