.shopDetais{
  background-color: #f5f5f5;
  .banner{
    position: relative;
    .bg{
      width: 100%;
      height: 375px;
    }
    .swipeChange{
      background-color:black;
      opacity: .7;
      color: #fff;
      position: absolute;
      right: 5px;
      bottom: 5px;
      padding: 2px 7px;
      border-radius: 10px;
      font-size: 12px;
    }
    .icon{
      position: absolute;
      top: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      img{
        width: 34px;
        height: 34px;
        padding: 10px;
      }
    }
  }
  .backTop{
    position: fixed;
    right: 10px;
    bottom: 80px;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color:rgba($color: #000, $alpha: .5);
    border-radius: 50%;
    .backTop_icon{
      color: #fff;
      font-size: 25px;
      line-height: 40px;
    }
  }
  .proDesc{
    // padding: 10px;
    background-color: #f5f5f5;
    .more{
      width: 6px;
      height: 10px;
    }
    .desc{
      background-color: #fff;
      padding: 10px;
      .top{
        display: flex;
        justify-content: space-between;
        .price{
          display: flex;
          align-items: center;
          .new_price{
            color: #ff5959;
            font-size: 23px;
            span{
              font-size: 18px;
            }
          }
          .old_price{
            font-size: 13px;
            color: #aaaaaa;
            margin-left: 12px;
            span{
              text-decoration: line-through;
              margin-left: 6px;
            }
          }
          p{
            font-size: 12px;
            background-color: rgba(1,168,98,.2);
            color: #01a862;
            padding: 2px 5px;
            border-radius: 10px;
            margin-left: 12px;
            &:nth-of-type(2){
              margin-left: 8px;
            }
          }
        }
        .allow{
          display: flex;
          flex-direction: column;
          align-items: center;
          span{
            font-size: 12px;
          }
          img{
            width: 16px;
	          height: 16px;
          }
        }
      }
      .center{
        font-size: 15px;
        line-height: 18px;
        color: #444444;
        font-weight: bold;
        margin-top: 23px;
      }
      .bottom{
        margin-top: 17px;
        /deep/.van-cell{
          padding: 0;
          &::after{
            position: relative;
          }
          &::after{
            position: relative;
          }
          .van-cell__title{
            display:-webkit-box;
            overflow-y: hidden;
            // margin-bottom: 30px;
            -webkit-box-orient:vertical;
            -webkit-line-clamp:1;
          }
        }
        /deep/.van-collapse-item__content{
          padding: 0;
        }
      }
    }
    // 2
    .area{
      margin-top: 10px;
      font-size: 12px;
      padding: 0 10px;
      background-color: #fff;
      section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 0;
        .item{
          display: flex;
          align-items: center;
          span{
            color: #bbbbbb;
            width:30px ;
            margin-right: 17px;
          }
          .discount1{
            background-color: #fcecec;
            padding: 2px 6px;
            color: #ff5959;
            border-radius: 10px;
          }
          .discount2{
            position: relative;
            margin-left: 7px;
            line-height: 15px;
            img{
              width: 62px;
	            height: 15px;
            }
            span{
              color: #ff5959;
              position: absolute;
              top: 2px;
              width: 100%;
              left: 5px;
            }
          }
          .location{
            width: 12px;
            height: 15px;
            margin-right: 6px;
          }
          .text{
            font-size: 12px;
            line-height: 16px;
            color: #444444;
            span{
              color: #ff5959;
            }
          }
        }
      }
    }
    // 3
    .grade{
      margin-top: 10px;
      padding: 0 10px 15px;
      background-color: #fff;
      .title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 16px;
        .name{
          font-size: 14px;
          line-height: 16px;
          color: #444444;
        }
        .moreall{
          span{
            font-size: 12px;
            color: #ff5959;
            margin-right: 8px;
          }
        }
      }
      .evl{
        font-size: 12px;
        padding-top: 16px;
        .head{
          display: flex;
          align-items: center;
          img{
            width: 21px;
            height: 21px;
            margin-right: 7px;
          }
          .name{
            color: #888888;
          }
        }
        .contents{
          margin-top: 9px;
          color: #444444;
          display:-webkit-box;
          overflow-y: hidden;
          -webkit-box-orient:vertical;
          -webkit-line-clamp:2;
        }
      }
    }

    .promise{
      background-color: #fff;
      width: 100%;
      padding: 15px 0;
      .content{
        width: 355px;
        height: 62px;
        background-color: #01a862;
        border-radius: 10px;
        margin: 0 auto;
        div{
          padding-left: 13px;
          color: #fff;
          font-size: 14px;
          &:nth-of-type(1){
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 4px;
            padding-top: 10px;
          }
        }
      }
    }
  }
  .proImg{
    .showImg{
      max-width: 100%;
      height: auto;
    }
  }

  .other{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 10px;
    padding-bottom: 60px;
    /deep/.van-list{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .van-list__finished-text{
        width: 100%;
        text-align: center;
      }
    }
    .item{
      border-radius:6px ;
      background-color: #fff;
      width: 173px;
      // width: 50%;
      padding-bottom: 15px;
      margin-bottom: 10px;
      .img{
        img{
          width: 173px;
          height: 173px;
        }
        span{
          font-size: 12px;
          color: #fff;
          background-color: #ff5959;
          padding: 2px 5px;
          margin-left: 10px;
          font-size: 9px;
        }
      }
      .desc{
        font-size: 12px;
        color: #444;
        display:-webkit-box;
        overflow-y: hidden;
        -webkit-box-orient:vertical;
        -webkit-line-clamp:2;
        text-overflow: ellipsis;
        // margin: 10px 0 0 10px;
        padding: 0 10px;
        margin-top: 10px;
      }
      section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 6px;
        padding: 0 10px;
        .price{
          display: flex;
          align-items: center;
          .new{
            color: #ff5959;
            font-size: 16px;
            span{
              font-size: 12px;
            }
          }
          .old{
            font-size: 12px;
            color: #aaaaaa;
            span{
              font-size: 12px;
              margin-left: 8px;
            }
          }
        }
        .grade{
          font-size: 12px;
          color: #aaa;
        }
      }
    }
  }

  .none{
    font-size: 12px;
    line-height: 16px;
    color: #888888;
    padding: 27px 0 80px;
    text-align: center;
  }

  .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    .left{
      display: flex;
      // justify-content: space-around;
      flex: 1;
      .badge{
        width: 33%;
        /deep/.van-badge--fixed{
          right: 14px;
          // top: 5px;
        }
      }
      .tab{
        display: flex;
        flex-direction: column;
        align-items: center;
        // width: 33%;
        flex:1;
        img{
          width: 17px;
          height: 17px;
        }
        span{
          font-size: 9px;
          width: fit-content;
        }
      }
    }
    .right{
      display: flex;
      margin-left: 10px;
      p{
        color: #fff;
        background-color: #393939;
        font-size: 13px;
        padding: 13px 26px;
        border-radius: 20px 0 0 20px;
        &:nth-of-type(2){
          background-color: #01a862;
          border-radius: 0 20px 20px 0;
          margin-right: 10px;
        }
      }
    }
  }

  // 购买弹窗
  .buy_content{
    font-size: 12px;
    padding: 20px 0 60px;
    position: relative;
    .pro{
      display: flex;
      align-items: center;
      padding:0 10px 21px;
      border-bottom: 1px solid #f2f2f2;
      img{
        width: 50px;
        height: 50px;
      }
      .desc{
        margin-left: 19px;
        .title{
          color: #444444;
        }
        .price{
          font-size: 14px;
          color: #ff5959;
          margin-top: 7px;
        }
      }
    }
    .style{
      padding: 16px 10px 17px;
      border-bottom: 1px solid f2f2f2;
      .title{
        font-size: 13px;
        color: #888888;
        font-weight: bold;
        padding-bottom: 13px;
      }
      ul{
        // display: flex;
        display: inline-block;
        li{
          float: left;
          color: #444444;
          background-color: rgba($color: #d4d4d4, $alpha: .4);
          border-radius: 3px;
          border: solid 1px rgba($color: #d4d4d4, $alpha: .4);
          margin-right: 10px;
          padding: 7px 6px;
          &:last-child{
            margin: 0;
          }
        }
        .choice{
          color: #01a862;
          background-color: #ffffff;
          border: solid 1px #01a862;
        }
        .other{
          background-color: #ffffff;
          color: #888888;
          border: dotted 1px rgba($color: #d4d4d4, $alpha: .4);
        }
      }
    }
    .num{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 14px 10px 0;
      margin-bottom: 66px;
      .title{
        font-size: 13px;
        color: #888888;
        font-weight: bold;
      }
    }
    .footers{
      position: fixed;
      bottom: 0;
      display: flex;
      text-align: center;
      margin: 5px 10px;
      width: calc(100% - 20px);
      background-color: #fff;
      p{
        color: #fff;
        background-color: #393939;
        font-size: 13px;
        padding: 13px 0;
        flex: 1;
        border-radius: 20px 0 0 20px;
        &:nth-of-type(2){
          background-color: #01a862;
          border-radius: 0 20px 20px 0;
        }
      }
    }
  }
  .content_description_content_position{
    width: 100%;
    position: relative;
    display: flex;
    // justify-content: space-around;
    align-items: center;
  }
  .station_white_description_content {
    width: 100%;
    word-break: break-all;
    line-height: 1.13rem;
    /* font-size: 0.96rem; */
    color: #585858;
    margin-top: 0.69rem;
    padding: 0 0.69rem;
    box-sizing: border-box;
    margin-bottom: 1.03rem;
    position: relative;
  }
  .content_description_blue {
    .openmore{
      width: 6px;
      height: 10px;
      transform: rotate(90deg);
    }
  }
  .content_description_text {
    /*! autoprefixer: off */
    position: relative;
    z-index: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden !important;
    text-overflow: ellipsis;
    word-break: break-all;
    line-height: 1.4rem;
    font-size: 13px;
    /*! autoprefixer: on */
  }
  .content_description_expansionText {
    position: relative;
    word-break: break-all;
    line-height: 1.4rem;
    font-size: 13px;
  }
  .content_description_white {
    width: 7.5rem;
    height: 1.6rem;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    right: 0.6rem;
    z-index: 9;
    background-image: linear-gradient(
      to right,
      rgba(248, 248, 248, 0),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1)
    );
  }
  .content_detail_white {
    width: 100%;
    height: 2.5rem;
    position: absolute;
    bottom: -2rem;
    left: 0;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1)
    );
    display: flex;
    justify-content: center;
    align-items: center;
    color:#01a862;;
    font-size: 14px;
    padding-top: 10px;
    box-sizing: border-box;
    z-index: 10;
  }
  .content_detail_white_img {
    width: 6px;
    height: 10px;
    transform: rotate(-90deg);
    margin-left: 10px;
    margin-top: 5px;
  }
}