.mine{
  font-size: 12px;
  position: relative;
  background: #f2f2f2;
  min-height: 100vh;
  padding-bottom:50px ;
  .disflay{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  article{
    background-color: #01a862;
    position: relative;
  }
  .set{
    @extend .disflay;
    justify-content: flex-end;
    padding: 17px 10px 8px;
    img{
      width: 24px;
      height: 21px;
      padding: 0 7px;
      &:nth-of-type(1){
        width: 22px;
      }
    }
  }
  .head{
    @extend .disflay;
    background-color: #01a862;
    justify-content: flex-start;
    padding: 0 14px 15px;
    img{
      width: 65px;
      height: 65px;
      border-radius: 50%;
    }
    div{
      margin-left: 10px;
    }
    p{
      color: #ffffff;
      line-height: 30px;
    }
    .name{
      font-size: 18px;
    }
  }
  .tab{
    padding: 0 10px 69px;
    color: #fff;
    ul{
      @extend .disflay;
      justify-content: space-around;
      background-color: #01a862;
      li{
        @extend .disflay;
        flex-direction: column;
        background-color: #01a862;
        padding: 5px 0;
        flex: 1;
        div{
          &:first-child{
            font-size: 18px;
          }
          &:last-child{
            font-size: 14px;
            margin-top: 5px;
          }
        }
      }
    }
  }

  .order{
    position: absolute;
    width: calc(100% - 54px);
    background: #fff;
    border-radius: 10px;
    padding: 13px 17px;
    margin: -50px 10px 0;
    .top{
      @extend .disflay;
      .title{
        font-size: 14px;
        // line-height: 48px;
        color: #000000;
        font-weight: bold;
        font-family: NotoSansHans-Regular;
      }
      .all{
        @extend .disflay;
        span{
          color: #484848;
        }
        img{
          width: 6px;
          height: 10px;   
          margin-left: 5px;       
        }
      }
    }
    ul{
      @extend .disflay;
      justify-content: space-around;
      margin-top: 16px;  
      li{
        @extend .disflay;
        flex-direction: column;
        div{
          margin-top: 10px;  
        }
      }
    }
  }

  .info{
    margin: 69px 10px 0;
    padding: 13px 17px;
    background: #fff;
    border-radius: 10px;
    .title{
      font-size: 14px;
      // line-height: 48px;
      color: #000000;
      font-weight: bold;
      font-family: NotoSansHans-Regular;
    }
    .my-swipe{
      margin-top: 10px;
      .swipe_item{
        @extend .disflay;
        justify-content: flex-start;
        .bg{
          width: 36px;
          height: 35px;        
        }
        section{
          flex:1;
          @extend .disflay;
          align-items: flex-end;
          .driver{
            font-size: 11px;
            color: #444444;
            margin-left: 10px;
            p{
              line-height: 22px;
              &:nth-of-type(2){
                font-size: 10px;
                color: #888888;
              }
            }
          }
          .time{
            color: #888888;
            line-height: 22px;
          }
        }
        
      }
    }
  }

  .service{
    margin:10px 10px 0;
    padding: 13px 17px;
    background: #fff;
    border-radius: 10px;
    .title{
      font-size: 14px;
      // line-height: 48px;
      color: #000000;
      font-weight: bold;
      font-family: NotoSansHans-Regular;
    }
    ul{
      @extend .disflay;
      flex-wrap: wrap;
      li{
        margin-top: 20px;  
        width: 25%;
        @extend .disflay;
        flex-direction: column;
        // padding: 0 20px;
        div{
          margin-top: 10px;  
        }
      }
    }
  }
}