html,body,#app{
  background-color: #FFFFFF;
}

.page_body{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
}
.page_title_border{
  width: 100%;
  height: 2.75rem;
  display: flex;
  align-items: center;
  position: relative;
}
.page_title_icon{
  padding: 0.7rem 1.09rem;
  font-weight: bold;
}
.page_title_input{
  width: 58%;
  height: 2.03rem;
  border-radius: 20rem;
  overflow: hidden;
  font-size: 0.75rem;
  color: #333333;
}
.page_title_Button{
  font-size: 0.8rem;
  color: #01A862;
  position: absolute;
  right: 0.6rem;
}

.page_title_border /deep/ .van-search{
  padding: 0rem !important;
}
.page_title_border /deep/ .van-search__content{
  background-color: #F4F4F4;
}
.van-field__control::-webkit-input-placeholder {
    color: #707070;
    letter-spacing:0px;
}
.van-field__left-icon{
  margin-left: 4px;
}
.address_view_view{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.address_border{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.address_once{
  width: 95.6%;
  height: 2.84rem;
  display: flex;
  align-items: center;
  border-bottom: 0.06rem solid #D3D3D3;
  color: #0D0D0D;
  font-size: 0.93rem;
}
.address_once_hotel{
  width: 95.6%;
  padding: 0.75rem 0rem;
  display: flex;
  align-items: center;
  border-bottom: 0.06rem solid #D3D3D3;
  color: #0D0D0D;
  font-size: 0.93rem;
}
.address_icon{
}
.address_view{
  display: flex;
  flex-direction: column;
  margin-left: 0.56rem;
}
.address_view_text{
  color: #8D8D8D;
  font-size: 0.68rem;
  margin-top: 0.74rem;
  word-break: break-all;
  padding-right: .96rem;
}
.addressPopup{
  width: 80%;
  /* height: 10rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addressInput{
  width: 70%;
  margin-top: 3rem;
  border-radius: 0.6rem;
  border: 0.06rem solid #CCCCCC;
}
.addressInput /deep/ input{
  font-size: 0.9rem;
}
.addressInputButton{
  width: 80%;
  height: 2.81rem;
  background-color: #01A862;
  font-size: 0.94rem;
  color: #FFFFFF;
  letter-spacing: .3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 2rem;
  border-radius: 0.4rem;
}
