html,body,#app{
  background-color: #FFFFFF;
}
::-webkit-scrollbar {
    width: 0;
  }
.page_body{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
}
.body /deep/ .van-nav-bar .van-icon{
  color: #0A0A0A !important;
}
.body /deep/ .van-nav-bar__arrow{
  font-size:1.09rem;
  font-weight: bold;
}
.body /deep/ .van-nav-bar__title{
  color: #585858;
  font-size: 1.06rem;
}
.content_border /deep/ .van-rate__icon{
  font-weight: bold;
}
.content_border{
  width: 100%;
  background-color: #FFFFFF;
  padding: 0rem 0.8rem;
  box-sizing: border-box;
}
.content_grade{
  width: 100%;
  height: 2.91rem;
  display: flex;
  align-items: center;
  border-bottom: 0.02rem solid #EFEFEF;
  font-size: 0.88rem;
  color: #8B8B8B;
}
.content_click_text{
  font-size: 0.69rem;
  color: #AAAAAA;
  margin-left: 0.81rem;
}
/* .talk_title{
  width: 100%;
  font-size: 0.88rem;
  color: #7F7F7F;
  margin-top: 1.06rem;
} */
.textarea_border{
  width: 100%;
  height: 10rem;
  border: none;
  line-height: 1.2rem;
  font-size: 0.88rem;
  color: #333333;
  margin-top: 1.06rem;
}
.textarea_hint{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.75rem;
  color: #CCCCCC;
  margin-top: 1.06rem;
  border-bottom: 0.02rem solid #EFEFEF;
  padding-bottom: 0.66rem;
}
.address_border{
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.02rem solid #EFEFEF;
}
.address_once{
  display: flex;
  align-items: center;
}
.address_title{
  font-size: 0.88rem;
  color: #303030;
  margin-left: 0.44rem;
}
.address_once_sign_border{
  max-width: 10.62rem;
  height: 1.56rem;
  color: #1D1D1D;
  background-color: #F5F5F5;
  font-size: 0.68rem;
  display: flex;
  align-items: center;
  border-radius: 20rem;
  /* padding-right: 0.3rem; */
  box-sizing: border-box;
}
.address_once_sign_img{
  width: 0.87rem;
  height: 0.87rem;
  margin-left: 0.59rem;
}
.address_once_sign_text{
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
.page_division{
  width: 100%;
  height: 0.31rem;
  background-color: #F8F8F8;
}
.upload_title{
  width: 100%;
  display: flex;
  align-items: flex-end;
  color: #999999;
  font-size: 0.75rem;
  margin-top: 0.9rem;
}
.upload_title_once{
  color: #555555;
  font-size: 0.87rem;
  margin-right: 0.37rem;
}
.upload_content_border{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.9rem;
}
.upload_once{
  width: 5.25rem;
  height: 5.31rem;
  background-color: #F4F4F4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
  position: relative;
}
.upload_once_icon{
  width: 3.71rem;
  height: 3.71rem;
}
.upload_content_border /deep/ .van-uploader__preview{
  margin: 0 1rem 1rem 0;
}
.upload_content_border /deep/ .van-uploader__preview-delete{
  font-size:1.3rem
}
.upload_content_border /deep/ .van-uploader__preview-image{
  width: 5.25rem;
  height: 5.31rem;
  border-radius: 0.2rem;
}
.agreement_border{
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.agreement_img{
  width: 0.87rem;
  height: 0.87rem;
  margin-right: 0.46rem;
}
.agreement_text{
  font-size: 0.75rem;
  color: #999999;
}
.agreement_text_color{
  color: #329FCD;
  text-decoration: underline;
}
.submitButton{
  width: 100%;
  height: 2.81rem;
  font-size: 0.93rem;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #01A761;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}


.popup_view{
  width: 80%;
  /* height: 50%; */
  background-color: #FFFFFF;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup_title{
  width: 100%;
  text-align: center;
  color: #333333;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
}
.popup_conment{
  width: 90%;
  max-height: 16rem;
  font-size: 0.8rem;
  margin: 1rem 0 1.3rem;
  overflow: auto;
}
.upload_input_file{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 6;
}
